/* for selectmenus in report pages */
label 
{
  text-align  : center  ;
  font-weight : bold    ;
  white-space : nowrap  ;
}

/* background image */
.ui-collision-home 
{
  background: url('../images/collision.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* attendance chart size */
#total_att_chart{width:100%;height:400px;}

/* .invalid class prevents CSS from automatically applying */
.invalid input:required:invalid {
  background: #BE4C54;
}
 
/* Mark valid inputs during .invalid state */
.invalid input:required:valid {
  background: #17D654 ;
}

/* make iframes scrollable in iOS Safari */
.student-iframe-wrapper {
  position: fixed; 
  right: 0; 
  bottom: 0; 
  left: 0;
  top: 40px;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

.student-iframe-wrapper iframe {
  height: 100%;
  width: 100%;
}