/* for selectmenus in report pages */
label 
{
  text-align  : center  ;
  font-weight : bold    ;
  white-space : nowrap  ;
}

/* background image */
.ui-collision-home 
{
  background: url('../images/collision.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* attendance chart size */
#total_att_chart{width:100%;height:400px;}
